.shop {
    padding: 1rem;

    .shop-title {
        text-align: center;
        font-size: 1.2rem;
    }

    .products {
        width: 100%;
        display: flex;
        justify-content: center;
        gap: 2rem;
        flex-wrap: wrap;
    }
}
